<main>
    <section class="como_creamos">
        <h1>Como creamos el plan ideal?</h1>
        <p>Nuestro equipo de expertos a disenado la encuesta para que sus respuestas nos proporcionen la informacion necesaria para crear un plan ideal</p>
    </section>

    <section class="listado_respuestas">
        <h2>Conoce lo que nos indican tus respuestas</h2>
        <ul class="">
            <li><strong>Raza </strong><br> Al conocer la raza y los demas datos que te pedimos podemos mostrarte el peso ideal que debe tener un perro de sus caracteristicas</li>
            <li><strong>Si no conoces la raza </strong><br>Si no conoces la raza puedes indicarnos su altura y corpulencia aproximada de esta forma podemos recomendarle un plan basado en el peso saludable para un perro con sus caracteristicas</li>
            <li><strong>Que edad tiene</strong> <br> Al conocer la edad de tu perro ajustamos el plan para que sea acorde a la cantidad de comida que debe consumir un perro de su raza y edad</li>
            <li><strong>Peso </strong><br>Al conocer el peso de tu compañero junto con los demas datos, podemos indicarte cuanto debe comer para llegar a su peso ideal y luego mantenerse ahi</li>
            <li><strong>Actividad fisica </strong><br>Si tu perro tiene una actividad fisica alta es probable que necesite una ingesta mayor de alimentos para mantenerse saludable incluiremos ese incremento en el plan</li>
            <li><strong>Conoces alguna alergia?</strong> <br>Si tu perro es alergico a alguno de los ingredientes de alguno de nuestros productos no te lo recomendaremos en el plan.</li>
            <li><strong>Condicion especial </strong><br>Si tu perro cuenta con alguna de las condiciones indicadas podemos ajustar su ingesta o darte indicaciones adicionales</li>
        </ul>
    </section>
</main>