
<main>
  <h1>Datos personales</h1>
  <app-aside class="app-aside"></app-aside>
  <form action="" class="infop">
    <label for="nombre" class="label1">Nombre</label>
    <input type="text" id="nombre" class="input-texto"> <br>
    <label for="correo" class="">Correo</label>
    <input type="text" id="correo" class="input-texto"> <br>
    <label for="contrasena" class="">Contraseña</label>
    <input type="password" id="contrasena" class="input-texto"><br>
    <input type="submit" value="Guardar" class="boton">

  </form>

</main>