<aside>
    <ul>
        <li><a href="">
                <p>Datos personales</p>
            </a><hr></li>
        <!-- <li><a href="">
                <p>Pedidos</p>
            </a> <hr></li>
            
        <li><a href="">
                <p>Plan</p>
            </a><hr></li>
        <li><a href="">
                <p>Informacion de facturacion</p>
            </a><hr></li>
        <li><a href="">
                <p>Informacion de pago</p>
            </a><hr></li>-->
    </ul> 
</aside>