<main>
    <section class="hero-image">
        <h1>Nuestros Productos</h1>
    </section>
    <section class="section-verde">
        <p>Todos nuestros productos son cuidadosamente seleccionados, los vegetales que usamos son totalmente orgánicos
            cultivados en granjas con certificacion, nuestra avena también es totalmente orgánica y libre de gluten
            procesada en una fábrica exclusivamente para este producto.</p>
        <button class="button1" (click)="scrollvideo()">+ Informacion</button>
        <button class="button2" (click)="scrollcert()">Certificados</button>
    </section>
    <section class="video" id="video">
        <p></p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/HYzP2YjM2IM?si=MEIe16e1ystowKbM"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </section>
    <section class="info">
        <p class="subtitulo-i" style=" margin-top: 20px">Menu</p>
        <div class="imagen-texto">
            <img src="../../../assets/imgs/menus.webp" alt="">
            <p class="parrafo-i">Nuestros menús están diseñados pensando en las necesidades nutricionales únicas de tu
                perro. Ofrecemos opciones que incluyen pollo y pavo, carne de res y cordero, y pescado como el salmón2.
                También incluimos fuentes saludables de carbohidratos como arroz, pasta, avena y quinoa.
                Además, entendemos la importancia de las grasas y los ácidos grasos en la dieta de un perro. Por eso,
                nuestros menús incluyen aceites a base de plantas como el maíz, la soja, la canola y el aceite de
                linaza, así como aceite de pescado</p>
        </div>

        <section class="pequeno">
            <img src="../../../assets/imgs/proteinas.webp" alt="">
            <div class="">
                <p class="sub-pequeno"><strong>Proteinas</strong></p>
                <ul>
                    <li><strong>Res</strong>: Bueno en proteínas, Fuente de hierro</li>
                    <li><strong>Salmón</strong>: Rico en proteínas, Excelente fuente de ácidos grasos omega-3, Rico en
                        vitamina D</li>
                    <li><strong>Cordero</strong>: Bueno en proteínas, Fuente de hierro, Contiene vitamina B12</li>
                    <li><strong>Cerdo</strong>: Bueno en proteínas, Fuente de zinc, Contiene vitamina B6</li>
                    <li><strong>Pavo</strong>: Rico en proteínas, Bajo en grasa, Fuente de selenio</li>
                    <li><strong>Gallina</strong>: Rico en proteínas, Fuente de niacina, Buena fuente de fósforo</li>
                    <li><strong>Huevo</strong>: Rico en proteínas, Buena fuente de colina, Contiene luteína y zeaxantina
                    </li>
                </ul>
            </div>
        </section>
        <section class="pequeno">
            <img src="../../../assets/imgs/carbs.jpg" alt="">
            <div class="">
                <p class="sub-pequeno"><strong>Cereales</strong></p>
                <ul>

                    <li><strong>Avena</strong>: Buena fuente de fibra, Contiene proteínas</li>
                    <li><strong>Arroz</strong>: Principalmente carbohidratos, Algunas variedades de arroz contienen
                        proteínas</li>
                    <li><strong>Quinua</strong>: Alta en proteínas, Fuente de fibra, Contiene todos los aminoácidos
                        esenciales</li>

                </ul>
            </div>
        </section>
        <section class="pequeno">
            <img src="../../../assets/imgs/vegs.webp" alt="">
            <div class="">
                <p class="sub-pequeno"><strong>Vegetales</strong></p>
                <ul>
                    <li><strong>Vegetales</strong>: Buena fuente de fibra y antioxidantes</li>
                    <li><strong>Zanahoria</strong>: Rica en vitamina A, Contiene fibra</li>
                    <li><strong>Espinaca</strong>: Buena fuente de hierro, Alta en vitamina K</li>
                    <li><strong>Repollo</strong>: Contiene vitamina C, Fuente de fibra</li>
                    <li><strong>Lechuga</strong>: Baja en calorías, Contiene vitamina K</li>
                    <li><strong>Calabaza</strong>: Rica en vitamina A, Fuente de fibra</li>

                </ul>
            </div>
        </section>
    </section>






    <section class="certificados" id="certificado">
        <p class="subtitulo-c">Estamos certificados por</p>
        <div class="imagen-texto-c">
            <img src="../../../assets/imgs/Certificado-primera-imagen.png" alt="">
            <p class="parrafo-c">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                invidunt ut labore et
                dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                Stet
                clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit
                amet,
                consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                erat,
                sed diam</p>
        </div>
        <p class="subtitulo-c">Conoce a fondo nuestros certificados</p>
        <div class="imagen-texto-c">
            <img src="../../../assets/imgs/Certificado-primera-imagen.png" alt="">
            <p class="parrafo-c">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                invidunt ut labore et
                dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                Stet
                clita kasd gubergren, no sea takimata sanctus est Lorem ipsum</p>

        </div>
        <div class="imagen-texto-c">
            <img src="../../../assets/imgs/Certificado-primera-imagen.png" alt="">
            <p class="parrafo-c">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                invidunt ut labore et
                dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                Stet
                clita kasd gubergren, no sea takimata sanctus est Lorem ipsum</p>

        </div>
        <div class="imagen-texto-c">
            <img src="../../../assets/imgs/Certificado-primera-imagen.png" alt="">
            <p class="parrafo-c">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                invidunt ut labore et
                dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                Stet
                clita kasd gubergren, no sea takimata sanctus est Lorem ipsum</p>

        </div>

    </section>
</main>