<main>
  <section class="i1 col-lg-12 col-md-12 col-sm-12">
    <h1 class="titulo">
      <p class="t1">Bienvenido a</p>
      <p class="t2">Menjar de Gos</p>
    </h1>
  </section>
  <section class="i2 ">
    <p class="i2-titulo1">100% orgánicos</p>
    <p class="i2-texto1">Somos una marca 100% organica lo que significa que nuestros productos y procesos son naturales
      y no hay ninguna intervencion quimica, nuestros saborizantes, colorantes y conservantes son de origen natural, te
      invitamos a que conozcas mejor nuestros productos y procesos en las secciones de informacion asi conoceras como
      logramos todo esto</p>
  </section>
  <section class="plato">

  </section>
  <div id="carouselExample" class="carousel slide">
    <p class="i3-titulo1">Testimonios</p>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <section class="i3">

          <div class="i3-div1">
            <img src="../../../assets/imgs/retrato-hombre-feliz-su-amigo-perro-labrador-al-atardecer-parque - Copy.jpg"
              alt="" class="i3-img1">
            <div class="i3-contenedor-text1">
              <p class="i3-sub1">Andres y Zeus</p>
              <p class="i3-texto1">"Desde que alimento a Zeus con Menjar de Gos, he visto cómo su energía aumenta, su
                pelo
                Vuelve
                a crecer sano y brillante y lo noto más feliz"<br> -Andres</p>
            </div>
          </div>
        </section>
      </div>
      <div class="carousel-item">
        <section class="i3">

          <div class="i3-div1">
            <img src="../../../assets/imgs/retrato-hombre-feliz-su-amigo-perro-labrador-al-atardecer-parque - Copy.jpg"
              alt="" class="i3-img1">
            <div class="i3-contenedor-text1">
              <p class="i3-sub1">Andres y Zeus</p>
              <p class="i3-texto1">"Desde que alimento a Zeus con Menjar de Gos, he visto cómo su energía aumenta, su
                pelo
                Vuelve
                a crecer sano y brillante y lo noto más feliz"<br> -Andres</p>
            </div>
          </div>
        </section>
      </div>
      <div class="carousel-item">
        <section class="i3">
          <div class="i3-div1">
            <img src="../../../assets/imgs/retrato-hombre-feliz-su-amigo-perro-labrador-al-atardecer-parque - Copy.jpg" alt="" class="i3-img1">
            <div class="i3-contenedor-text1">
              <p class="i3-sub1">Andres y Zeus</p>
              <p class="i3-texto1">"Desde que alimento a Zeus con Menjar de Gos, he visto cómo su energía aumenta, su
                pelo
                Vuelve
                a crecer sano y brillante y lo noto más feliz"<br> -Andres</p>
            </div>
          </div>
        </section>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon " aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</main>