<main>
    <section class="hero-image">
        <h1>Nuestros procesos</h1>
    </section>
    <section class="section-verde">
        <p>Desde la granja pasando por la planta de producción y empaquetado y transporte hacemos un estricto control
            decalidad en cada punto hecho por profesionales calificados para verificar nuestro producto garantizando la
            calidad del alimento.</p>
        <button class="button1" (click)="scrollvideo()">+ Informacion</button>
        <button class="button2" (click)="scrollcert()">Certificados</button>
    </section>
    <section class="video" id="video">
        <p>Conoce nuestras instalaciones</p>
        <iframe src="https://www.youtube.com/embed/DzMPWRa4JA0?si=CfMsxd-1141JcrHV" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </section>
    <section class="info">
        <p class="subtitulo-i" style=" margin-top: 20px">Nuestras granjas</p>
        <div class="imagen-texto">
            <img src="../../../assets/imgs/granjita.jpg" alt="">
            <p class="parrafo-i">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                invidunt ut labore
                et
                dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                Stet
                clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit
                amet,
                consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                erat,
                sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
        </div>

        <p class="subtitulo-i">Nuestras plantas de produccion</p>
        <div class="imagen-texto">
            <img src="../../../assets/imgs/produccion.jpg" alt="">
            <p class="parrafo-i">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                invidunt ut labore
                et
                dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                Stet
                clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit
                amet,
                consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                erat,
                sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
        </div>
    </section>



    <section class="certificados" id="certificado">
        <p class="subtitulo-c">Estamos certificados por</p>
        <div class="imagen-texto-c">
            <img src="../../../assets/imgs/Certificado-primera-imagen.png" alt="">
            <p class="parrafo-c">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                invidunt ut labore et
                dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                Stet
                clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit
                amet,
                consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                erat,
                sed diam</p>
        </div>
        <p class="subtitulo-c">Conoce a fondo nuestros certificados</p>
        <div class="imagen-texto-c">
            <img src="../../../assets/imgs/Certificado-primera-imagen.png" alt="">
            <p class="parrafo-c">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                invidunt ut labore et
                dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                Stet
                clita kasd gubergren, no sea takimata sanctus est Lorem ipsum</p>
                
        </div>
        <div class="imagen-texto-c">
            <img src="../../../assets/imgs/Certificado-primera-imagen.png" alt="">
            <p class="parrafo-c">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                invidunt ut labore et
                dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                Stet
                clita kasd gubergren, no sea takimata sanctus est Lorem ipsum</p>
                
        </div>
        <div class="imagen-texto-c">
            <img src="../../../assets/imgs/Certificado-primera-imagen.png" alt="">
            <p class="parrafo-c">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                invidunt ut labore et
                dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                Stet
                clita kasd gubergren, no sea takimata sanctus est Lorem ipsum</p>
                
        </div>

    </section>
</main>